.header {
  background: linear-gradient(to bottom, #2490fc, #7d4286);
  padding: 0 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 20px;
}

.navigation ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  display: flex;
  align-items: center;
  margin: 0 15px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navigation li:hover {
  color: #ff0;
}

.navigation .active {
  color: #ff0;
}

.navigation li svg {
  margin-right: 8px;
}

.auth-buttons button {
  background: transparent;
  color: white;
  border: none;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.auth-buttons button:hover {
  color: #ff0;
}

.user-icon {
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 10px;
  color: #000;
}

.auth-buttons button {
  margin-left: 10px;
}
