.blog-carousel-container {
  padding: 0 200px;
  background-color: #f9f9f9;
}

.category-carousel {
  margin-bottom: 40px;
}

.category-title {
  font-weight: bold;
  text-transform: uppercase;
}

.blog-card {
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  text-align: center;
  padding: 10px;
}

.blog-card:hover {
  transform: scale(1.05);
}

.blog-card-image {
  border-radius: 10px;
}

.blog-card-title {
  font-size: 18px;
  color: #333;
}

.action-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.action-btn:hover {
  background-color: #0056b3;
}

.loading-indicator {
  text-align: center;
  font-size: 18px;
  color: #555;
}

.pagination-buttons {
  margin-top: 20px;
}

.pagination-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination-btn:hover {
  background-color: #0056b3;
}
